# Ignore files that are fetched or created by the script
/*.ent
/*.txt
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# ignoring scripts and lib directiories
/Scripts/
/Lib/
/.idea/
# ignoring specific pyenv file
/pyvenv.cfg